html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

pre {
  text-align: left;
  font-family: monospace;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  border-radius: 0.5rem;
}